@using ASP.Server.Model
@model Genre
@{
    ViewData["Title"] = "Category Details";
}



<section class="cars-list-wrapper section">

    <!-- BEGIN: Page Main-->
    <div id="main" style="padding-left:0px">
        <div class="row">
            <div class="col s12">
                <div class="container">
                    <!-- knowledge -->
                    <div class="section" id="knowledge">
                        <div class="row knowledge-content">
                            <div class="row">
                                <div class="col s12 m4">
                                   
                                </div>
                                <div class="col s12 m4">
                                    <div class="card card-hover z-depth-0 card-border-gray">
                                            <div class="card-content center-align">
                                                <h5><b>Category Label</b></h5>
                                                <i class="material-icons md-48 amber-text">apps</i>
                                                <p class="mb-2 black-text"><b>@Model.Label</b></p>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12 m4">
                                <div class="card card-hover z-depth-0 card-border-gray">
                                        <div class="card-content center-align">
                                            <h5><b>Author</b></h5>
                                            <i class="material-icons md-48 red-text">account_circle</i>
                                            <p class="mb-2 black-text">Name</p>
                                        </div>
                                </div>
                            </div>
                            <div class="col s12 m4">
                                <div class="card card-hover z-depth-0 card-border-gray">
                                        <div class="card-content center-align">
                                            <h5><b>Price</b></h5>
                                            <i class="material-icons md-48 black-text">attach_money</i>
                                            <p class="mb-2 black-text">
                                                <div class="chip black darken-4 white-text z-depth-1">
                                                    Prix $
                                                </div>
                                            </p>
                                        </div>
                                </div>
                            </div>
                            <div class="col s12 m4">
                                <div class="card card-hover z-depth-0 card-border-gray">
                                        <div class="card-content center-align">
                                            <h5><b>Categories</b></h5>
                                            <i class="material-icons md-48 blue-text">apps</i>
                                            <p class="mb-2 black-text">
                                               
                                                    <div class="chip lime z-depth-1">
                                                        Test
                                                    </div>
                                                
                                            </p>
                                        </div>
                                </div>
                            </div>

                            <!-- Getting started -->
                            <div class="col s12 card-content-link">
                                <div class="card z-depth-0 card-border-gray pb-3">
                                    <div class="card-content">
                                        <div class="row">
                                            <div class="col s12">
                                                <h5><i class="material-icons purple-text vertical-text-bottom"> grade </i> Content</h5>
                                                <br>
                                            </div>
                                            <div class="col s12">
                                               Content
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                 
                        </div>
                    </div>
                </div>
                <div class="content-overlay"></div>
            </div>
        </div>
    </div>
</section>